<div class="uiPageContainer">

<div class="uiPageInnerContainer">

  <div style="float:left; width:100%;">
	<div id="pagePanel">

      <table cellspacing="0" cellpadding="5" width="80%" align="center" class="uiLargerText">

      <tr>
        <td colspan="2"><span class='uiBannerText_RED'>Warning</span></td>
      </tr>

      <tr>
        <td colspan="2"><span class='uiLargerText'>You are about to logoff but you have outstanding orders</span></td>
      </tr>

      <tr>
        <td colspan="2"><span class='uiLargerText'>You must select an action in order to log out</span></td>
      </tr>

      <tr><td colspan="2" style="height:20px;">&nbsp;</td></tr>

      <tr>
        <td>

          <select id="action_id" class="uiLargerText uiDdlCore" ng-model="action_id" ng-change="actionOnChange()">
            <option value="0">You must choose an action...</option>
            <option value="1">Unassign my orders</option>
            <option value="2">Reassign my orders</option>
          </select>

          <select class="uiLargerText uiDdlCore" ng-model="user_id" ng-options="user.user_name for user in users">
            <option value="">Please choose a user...</option>
          </select>

        </td>

        <td>
          <button class="uiButtonBase uiButtonLarge uiButtonYes uiLargerText" ng-click="doLogout();">continue</button>
        </td>
      </tr>






      </table>
        

	</div>
  </div>

</div>

</div>
