<div class="uiPageContainer">

<div class="uiPageInnerContainer">

  <div class="uiLogonPanel">

    <div style="width:100%;">
		  
      <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%; padding-top:10px;">
          <span class="uiBannerText_DARKGREY">log in to drinkon</span>
        </div>
      </div>

      <div style="width:100%;">
        <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%; padding-top:2px;">
          <hr style="width:100%; color:#EEEEEE;">
        </div>
      </div>

      <div style="width:100%;">
        <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%; padding-top:2px;">
          <span id="build_text" class="uiNormalText" style="color:#666666;"></span>
        </div>
      </div>

      <div style="width:100%;">
        <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%;">
          <div style="width:100%; padding-top:20px;">
            <div style="float:left; width:25%;">
              <span class="uiLargerText" style="vertical-align:middle; color:#666666;">username</span>
            </div>
            <div style="float:right; width:75%;">
              <input ng-model="loginUser" class="uiNormalText uiFieldCore" type="text" maxlength="20" size="20" />
            </div>
          </div>
        </div>
      </div>

      <div style="width:100%;">
        <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%;">
          <div style="width:100%; padding-top:10px;">
            <div style="float:left; width:25%;">
              <span class="uiLargerText" style="vertical-align:middle; color:#666666;">password</span>
            </div>
            <div style="float:right; width:75%;">
              <input ng-model="loginPass" class="uiNormalText uiFieldCore" type="password" maxlength="20" size="20" />
            </div>
          </div>
        </div>
      </div>

      <div style="width:100%;">
        <div style="float:left; width:20%;">&nbsp;</div>
        <div style="float:right; width:80%;">
          <div style="width:100%; padding-top:10px;">
            <div style="float:left; width:25%;"></div>
            <div style="float:right; width:75%;">
              <button class='uiButtonBase uiButtonMedium uiButtonYes uiLargerText' ng-click="actionItem();">login</button>
              <button class='uiButtonBase uiButtonMedium uiButtonNo uiLargerText' ng-click="cancelItem();">cancel</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

</div>
